.flex {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: $header-height-xs;

  > .body {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

    > aside {
      align-items: center;
      border-right: 1px solid $border-color;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 2.5rem;
      position: relative;
      width: $sidebar-width;

      .vue-affix {
        width: $sidebar-width;

        &.affix {
          top: 111px!important;
        }

        .sidebar {
          flex: 1;
        }
      }
    }

    > main {
      background-color: $bg-content-color;
      flex: 1;
      padding: $padding-v-xs $padding-h-xs;

      > section {
        align-content: stretch;
        align-items: stretch;
        display: flex;
        flex-direction: column;
        height: 100%;

        .content {
          background-color: #fff;
          border: 1px solid $content-border-color;
          flex: 1;
          padding: 1rem 1.5rem;

          .tabs {
            margin: 0 -1.5rem;
          }
        }
      }
    }
  }

  > footer {
    background-color: $footer-bg-color;
    border-top: 1px solid $footer-border-color;
    padding: 0.75rem 2.5rem;
  }

  > header {
    background-color: $header-bg-color;
    border-bottom: 1px solid $header-border-color;
    height: $header-height-xs;
    left: 0;
    min-height: $header-height-xs;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
  }
}

@media (min-width: 768px) {
  .flex {
    padding-top: $header-height-sm;

    footer {
      padding: 0.75rem $padding-h-sm;
    }

    header {
      height: $header-height-sm;
      min-height: $header-height-sm;
    }

    > .body {
      > main {
        padding: $padding-v-sm $padding-h-sm;
      }
    }

    &.collapsed {
      > .body {
        > aside {
          display: none;
        }

        > main {
          padding-left: $padding-h-sm;
        }
      }
    }

    &.expanded {
      > .body {
        > aside {
          display: flex;
        }

        > main {
          padding-left: 1.25rem;
        }
      }
    }
  }
}
