.nav-top {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $padding-v-xs $padding-h-xs;

  .navbar-collapse {
    align-items: center;
    background-color: #fff;
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: $padding-h-xs;
    top: $header-height-xs;

    &.collapse {
      display: none;
    }

    &.show {
      display: block;
    }

    > nav {
      &.nav-brand {
      }

      &.nav-center {
        align-items: flex-start;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
      }

      &.nav-right {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .navbar-toggler {
      display: block;
    }

  }
}

@media (min-width: 768px) {
  .nav-top {
    padding: $padding-v-sm $padding-h-sm;

    > nav {
      &.nav-brand {
        width: $sidebar-width;
      }
    }

    .navbar-collapse {
      background-color: transparent;
      border: none;
      display: flex!important;
      flex: 1;
      flex-direction: row;
      position: static;
    }

    .navbar-toggler {
      display: none;
    }
  }
}
