$bg-color: #ffffff!default;
$bg-content-color: #f7f7fa!default;
$border-color: #c1c4d0!default;

$body-padding-top-sm: 3rem!default;

$content-bg-color: $bg-color!default;
$content-border-color: $border-color!default;

$footer-bg-color: $bg-color!default;
$footer-border-color: $border-color!default;

$header-bg-color: $bg-color!default;
$header-border-color: $border-color!default;
$header-height-sm: 4rem!default;
$header-height-xs: 3rem!default;

$logo-width: 10rem!default;

$padding-h-sm: 2rem!default;
$padding-h-xs: 0.5rem!default;
$padding-v-sm: 0.5rem!default;
$padding-v-xs: 0.1rem!default;

$sidebar-width: 13rem!default;

$toggle-bg-color: $bg-color!default;
$toggle-width: 2rem!default;

$version-font-size: 0.65rem!default;
