$bg-color: #ffffff;
$bg-content-color: #f7f7fa;
$border-color: #c1c4d0;

$color: #333647;
$color-cta: #4dd08e;
$content-border-color: #c1c4d0;

$font-size-small: 0.9rem;

$logo-width: 9rem;

$padding-h: 2rem;

$rem: 16px;

$sidebar-width: 13rem;
